<div class="post_header">
  <div class="ps-name">
    <%= post.created_at.localtime.to_fs(:short) %>    
  </div>  
  <b><%= post.title %></b>
  <p><%= post.text %></p>
  <div class="ps-counters1">
    Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
  </div>
</div>
