<%= render partial: "shared/user", locals: {user: @user } %>

<% if false %>
    <% @posts.each do |post| %>
        <h3>Id: <%= post.id %>, Title: <%= post.title %>, Text: <%= post.text %>, Created at: <%= post.created_at %></h3>
    <% end %>
<% end %>

<% @posts.each_with_index do |post, index| %>
    <%= render partial: "shared/post", locals: {post: post, index: index } %>  

    <%= render partial: "shared/comments", locals: {post: post, index: index } %>  

    <% end %>

<div class='user_button'>
  <button>
    <%= link_to 'Pagination', user_post_path(@user, @posts[0]) %>
  </button>
</div>

<%= link_to 'Back' , @user %>
