<%= render partial: "shared/user", locals: {user: @user } %>

<% flash.each do |key, value| %>
  <span class='flash_<%= key %>'><%= value %></span>
<% end %> 

<% @posts.each_with_index  do |post, index| %>
  
    <%= render partial: "shared/post", locals: {post: post, index: index } %>  

    <%= render partial: "shared/comments", locals: {post: post, index: index } %>  
<% end %>

<div class='user_button'>
  <button>
    <%= link_to "See all users", users_path %>
  </button>
  <button>
    <%= link_to "Add a post",new_user_post_path(@user) %>
  </button>
</div>

<%= link_to 'Back' , @user %>

<% if false %>    
<% end %>
