
<div class="ps-name">
    Post by <%= @user.name %>
</div>
<%= render partial: "shared/post", locals: {post: @post, index: 1 } %>  

<%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form| %>
  <div>
    <%= form.button "Add a like !", type: "submit" %>
  </div>
<% end %>

<% flash.each do |key, value| %>
  <span class='flash_<%= key %>'><%= value %></span>
<% end %> 

<%= render partial: "shared/comments", locals: {post: @post, user: @user } %>

<button>
  <%= link_to 'Add a Comment', new_user_post_comment_path(@user, @post) %>
</button>

<% if can? :destroy, @post %>
  <%= button_to "Delete Post", user_post_path, method: :delete %>
<% end %>

<%= link_to "Back to Posts", user_posts_path(@user) %>
