<div class="post_header">
  <div class="post-show-header">
    <div class="ps-name">
      Post by <%= @user.name %>
    </div>
    <div class="ps-counters">
      Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
    </div>
  </div>

  <p><%= @post.title %></p>
  <p><%= @post.text %></p>  
</div>

<div class='div-comments'>
  <% @post.five_recent_comments(@post.id).each do |comment| %>
     <div class='comments'>
        <span style="font-weight :bold font-size: 10px">Username <%= comment.user_id %>:</span> <%= comment.text %>
      </div>
  <% end %>        
</div>

<button>
  <%= link_to 'Add a Comment', new_user_post_comment_path(@user, @post) %>
</button>
