<!DOCTYPE html>
<html>
  <head>
    <title>BlogWithRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <div class='common_header'>
      <p>CARLOS MOLINA'S BLOG </p>
    </div>
    
    <% if false %>
    <% flash.each do |key, value| %>
      <span class='flash_<%= key %>'><%= value %></span>
    <% end %> 
    <% end %>
    <%= yield %>

    <div id="user_nav">
      <% if user_signed_in? %>
          Welcome!! Signed in as <%= current_user.name %>.
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% end %>
    </div>
    <div class='common_footer'>
      <p>by Carlos Molina</p>
    </div>

  </body>
</html>
